### --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

### --- Docker ---
docker/mysql_data/
docker/redis_data/

### --- Backend (Laravel) ---
backend/vendor/
backend/node_modules/
backend/.env
backend/.env.backup
backend/.env.production
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*.log
backend/auth.json

### --- Frontend (React) ---
mobile/node_modules/
mobile/dist/
mobile/build/
mobile/.env.local
mobile/.env.development.local
mobile/.env.test.local
mobile/.env.production.local
mobile/npm-debug.log*
mobile/yarn-debug.log*
mobile/yarn-error.log*



# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
