node_modules
vendor
.git
.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.idea
*.md
bootstrap/cache/*
public/storage
